<section class="setup-helper" data-behaviour="setup-helper">
  <div class="setup-helper__bubble">
    <div class="setup-helper__content">
      <%= link_to '', setup_complete_path(show_completed: false), class: 'close fa fa-times' %>
      <% if flash[:show_completed] %>
        <h3>You’re off to a great start!</h3>
        <p>You’ll see everything you added in the links on the left sidebar.</p>
        <div class="setup-helper__buttons">
          <button data-behaviour="dismiss_setup_helper" class="btn btn-large">Got It!</button>
        </div>
      <% else %>
      <div class="progress-bar">
        <div class="progress-bar__bar_label start"><p>Just starting</p><i class="fa fa-arrow-down" aria-hidden="true"></i></div>
        <!-- <div class="progress-bar__bar complete step-one"></div> -->
        <!-- <div class="progress-bar__bar"></div> // Last Bar Has Rounded Right Edges-->
        <!-- <div class="progress-bar__bar"></div> // Last Bar Has Rounded Right Edges-->
        <!-- <div class="progress-bar__bar"></div> // Last Bar Has Rounded Right Edges-->
      </div>
        <h3>
          <% if SetupWizard.next_step == SetupWizard::STEPS.first %>
          Would you like some help setting up your project?
          <% else %>
          You’re still in the setup process. Want to pick up where you left off?
          <% end %>
        </h3>
        <p>
          <% if SetupWizard.next_step == SetupWizard::STEPS.first %>
          It's brief, we promise.
          <% else %>
          You’re almost done!
          <% end %>
        </p>
        <div class="setup-helper__buttons">
          <% if SetupWizard.next_step == SetupWizard::STEPS.first %>
            <%= link_to 'Yes, help out', setup_next_step_path, class: 'btn btn-large btn-primary' %>
            <%= link_to 'No thanks', setup_complete_path(show_completed: false), class: 'btn btn-large' %>
          <% else %>
            <%= link_to 'Yes, let’s finish!', setup_next_step_path, class: 'btn btn-large btn-primary' %>
            <%= link_to 'No thanks', setup_complete_path(show_completed: true), class: 'btn btn-large' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <!-- <%= image_tag 'logo_small.png', class: 'setup-helper__logo', size: '200x200' %> -->
</section>
